/* disposizioni generali */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: lightgray;
}

/* sezione general */
.general .film .imageFilm .info p {
    font-size: 13pt;
    display: inline;
    color: white;
    font-weight: normal;
}

.general .film .imageFilm .info span {
    font-size: 15pt;
    display: inline;
    color: white;
    font-weight: bold;
}

.general .film .imageFilm .info .overview {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.general .film .info h2 {
    font-size: 13pt;
    display: inline;
    color: white;
}

.general {
  margin: 0 auto;
  padding: 200px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.general .film {
  margin: 20px 0;
  /* width: calc(100% / 5); */
}

.imageFilm {
  position: relative;
  width: 100%;
}

.general .film img {
  cursor: pointer;

}

.general .film img:first-child{
  border: 3px solid white;
}


/* header */
header {
  height: 150px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10000;
}

section {
  width: 50%;
  position: relative;
}

header section input {
  padding-left: 10px;
  position: absolute;
  left: 70%;
  top: 70%;
  transform: translate(-70%, -70%);
  height: 30px;
  width: 200px;
  border-radius: 10px;
}

header section a {
  font-size: 40pt;
  color: #e50914;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
}

.film .info {
  display: none;
  position: absolute;
  width: 306px;
  height: 100%;
  top: 0;
  left: 0;
  word-wrap: break-word;
  padding: 10px 10px;
  border: 3px solid white;
}

/* classe per visualizzare informazioni tv/serie */
.info.active {
  display: block;
  background-color: black;
}

/* testo da inserire se non viene trovato nulla nella ricerca */
.nessuntrovato p {
  font-size: 20pt;
}

.nessuntrovato {
  margin-right: 50px;
  width: 100%;
  margin-bottom: 150px;
}

/* blocco da inserire per mancata presenza copertina tv */
.replace {
  width: 306px;
  height: 456px;
  background-color: black;
  border: 3px solid white;
  position: relative;
}

.general .replace p {
    font-size: 18pt;
    display: inline;
    color: white;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
